[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
authlib = "*"
requests = "*"
gunicorn = "*"
flask-migrate = "*"
weasyprint = "*"
pdfkit = "*"
flask-wtf = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
